*.*~
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.bcf
*.run.xml
*.4ct
*.4tc
*.idv
*.lg
*.tmp
*.xref
!/presentations/dcne14/drupal_cbpp_dcne14.pdf
!/presentations/opensym14/drupal_cbpp_opensym14.pdf
!/presentations/opensym14_drupal_cbpp_short/drupal_cbpp_opensym14_short.pdf
!/confirmation/preparation/PhD_conf_prel_questions.pdf
!/confirmation/preparation/PhD_conf_preparation_RDP.pdf
!/phd_paperwork/trips/receipts-to-print/*.pdf

p2pvalue/p2pvalue_cress_webs
